<mat-drawer-container (backdropClick)="sidenav.close()" fullscreen>
  <mat-drawer #sidenav (keydown.escape)="sidenav.close()" disableClose>
    <mat-list>
      <mat-list-item>
        <button mat-button routerLink="/angular" routerLinkActive="active" (click)="sidenav.close()">Angular</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/docker" routerLinkActive="active" (click)="sidenav.close()">Docker</button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <mat-icon (click)="sidenav.open()" class="menu">menu</mat-icon>
      <h1>Ming's Blog</h1>
      <span class="menu-spacer"></span>
      <div>
        {{ time | date: 'longDate' }}
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <div>
        {{ $time | async | date: 'hh:mm:ss a' }}
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
