<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-card title="What is NgRx and why use NgRx" ngPreserveWhitespaces>
        NgRx is a framework for building reactive applications in Angular.

        NgRx provides libraries for:
        * Managing global and local state.<br>
        => *So no need to issue http request everytime when page is loaded.*
        * Isolation of side effects to promote a cleaner component architecture.
        => *Single responsibility principle.*
        * Entity collection management.
        * Integration with the Angular Router.
        * Developer tooling that enhance developers experience when building many different types of applications.
      </app-card>
    </div>
  </div>
</div>
